/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* SCROLL SUAVE */

html{
    scroll-behavior:smooth;
}

/* BODY */

body{

    font-family:Arial, Helvetica, sans-serif;

    color:white;

    background:
    linear-gradient(
        rgba(0,0,0,0.70),
        rgba(0,0,0,0.80)
    ),
    url("./imagenes/fondo2.webp");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;
}

/* NAVBAR */

.navbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

    background-color:rgba(0,0,0,0.75);

    position:fixed;

    top:0;

    left:0;

    z-index:1000;

    backdrop-filter:blur(8px);
}

/* LOGO */

.logo{

    font-size:28px;

    font-weight:bold;

    letter-spacing:2px;
}

/* LINKS */

.nav-links{

    display:flex;

    gap:40px;

    list-style:none;
}

.nav-links a{

    text-decoration:none;

    color:white;

    font-size:17px;

    transition:0.3s;
}

/* HOVER */

.nav-links a:hover{

    color:#00bfff;

    text-shadow:0 0 10px #00bfff;
}

/* HERO */

.hero{

    width:100%;

    height:35vh;
}

/* GRID DE JUEGOS */

.games-grid{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    gap:30px;

    padding:60px 40px;

    flex-wrap:wrap;

    margin-top:80px;

    position:relative;

    z-index:10;
}

/* TARJETAS */

.game-card{

    width:320px;

    background:rgba(0,0,0,0.65);

    backdrop-filter:blur(6px);

    border-radius:15px;

    padding:30px;
}

.game-card{

    width:320px;

    background:rgba(0,0,0,0.75);

    border-radius:15px;

    overflow:hidden;

    padding:30px;

    text-align:center;

    box-shadow:0 0 15px rgba(0,0,0,0.4);

    transition:0.3s;
}

/* TITULOS */

.game-card h2{

    margin-bottom:15px;

    font-size:28px;
}

/* VIDEOS */

.game-card video{

    width:100%;

    border-radius:10px;
}

/* RESPONSIVE */

@media(max-width:900px){

    .navbar{

        flex-direction:column;

        gap:15px;
    }

    .nav-links{

        flex-wrap:wrap;

        justify-content:center;

        gap:20px;
    }

    .games-grid{

        padding:40px 20px;
    }

    .game-card{

        width:100%;
        max-width:400px;
    }

}